.search-filter {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 1200px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  &__years {
    display: flex;
    width: 310px;
  }

  &__years-placeholder {
    margin-bottom: 10px;
  }

  &__year {
    flex-basis: 50%;
    margin-right: 10px;
  }

  &__genres {
    margin-right: 10px;
    flex-basis: 300px;
  }
}

